form {
  margin: auto;
  width: 30vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(20, 250, 162);
}
h3 {
  text-align: center;
}
